@model List<DateTime>
@{
    ViewBag.Title = "Dia";
<<<<<<< HEAD
    //llega esto desde el controlador.
    //Session["idmovie"] = id;
    //Session["idimdb"] = idimdb;
    //Session["sala"] = sala;
}

<style>
    .m {
        margin: 10px;
    }
</style>
<br />
<h1 class="text-center">Selecciona el Día</h1>
<br />
<div class="row">
    <div class="col-md-6" style="text-align:center">
        <img id="pic" src=""/>        
    </div>
    <div class="col-md-4">
        <div class="list-group border-info" style="margin-left: auto; margin-right: auto;">
            <p class="list-group-item list-group-item-action active">
                <strong>Día</strong>
            </p>
            @{
                for (int x = 0; x < Model.Count; x++)
                {
                    string dia = Model.ElementAt(x).ToString("dddd");
                    @:<a href="/Funciones/Seleccionar/@x" class="list-group-item list-group-item-action">@dia</a>
                }
            }
    </div>
</div>
</div>




<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js">


</script>
<script>

    function cargar() {
        var img = document.getElementById('pic');
        let a = "http://www.omdbapi.com/?apikey=819e143&plot=full&i=";
            let b = '@Session["idimdb"]';
            let s = "";
            s = a.concat(b);
            console.log("esto es s" + s);
            axios.get(s)
                .then((response) => {
                    console.log(response);
                    let movie = response.data;
                    img.src = movie.Poster;
                })
                .catch((err) => {
                    console.log(err);
                });
        
    }


    $(document).ready(() => {
        cargar();
    });
</script>

=======
}

<style>
.m {
 margin: 10px;
}
</style>
<br />
<h3>Selecciona el Día</h3>

<div class="d-flex justify-content-center">
    @{
        for (int x = 0; x < Model.Count; x++)
        {
            string dia = Model.ElementAt(x).ToString("dddd");
            @:<a href="/Funciones/Seleccionar/@x" class="btn btn-outline-success btn-lg">@dia</a>
    }
    }
</div>
>>>>>>> 39f4d3ac7613dcfd7de81c74d225025f2d5ea58b




