
@{
    ViewBag.Title = "Info de película";
}

<br />
<div class="container">
    <div id="movie" class="well"></div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/Scripts/main.js"></script>
<script>
    getMovie();
</script>


